spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/controlebeb
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

jwt:
  secret: XcXD0dW7T75uXPHZw8qzEiJI2lkJAc4FVohjwhwrtk8=
  access-expiration: 86400000 # 15 minutos
  refresh-expiration: 604800000 # 7 dias
server:
  port: 8080
